* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2F1E7;
}

header {
    background-color: #243642;
    color: #E2F1E7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
}

nav a {
    color: #E2F1E7;
    margin-right: 20px;
    text-decoration: none;
}

section {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;    
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#assignedTasksList {
    list-style-type: none;
}

button {
    background-color: #243642;
    color: #E2F1E7;
    border: none;
    cursor: pointer;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

h2 {
    text-align: center;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    text-align: center;
}

.loginForm{
    width: 80%;
}